
/***
 * Component styles
 *
 */

.list-card {
    .card-body {
        clear: both;

        .card-title {
            margin: .8rem 0 .5rem;

            input {
                background: transparent;
                border: 0;
                height: inherit;
                margin:  0;
                padding: 0;
            }
        }
    }
}
