
/***
 * Component styles
 *
 */

.card-footer {
    .btn {
        border-radius: 5px;
    }
    .btn:first-child {
        border-radius: 5px 0 0 5px;
        border-right:  0;
    }
    .btn:last-child {
        border-radius: 0 5px 5px 0;
    }
}
