@import '../../assets/styles/vars.scss';

/***
 * Component styles
 *
 */

.data-intro {
    .config-actions {
        display         : flex;
        justify-content : space-between;
        padding-bottom  : 1rem;

        .text-label {
            text-align: left;

            em {
                color: $dark-blue;
            }
        }
    }
}
