
/***
 * Component styles
 *
 */

.data-intro {
    .config-actions {
        display         : flex;
        justify-content : space-between;
        margin-top      : -.5rem;
        padding-bottom  : .5rem;

        .text-label {
            margin-top: .5rem;
        }
    }
}
