
/***
 * Component styles
 *
 */

.data-intro {
    .config-actions {
        display         : flex;
        justify-content : space-between;
        padding-bottom  : 1rem;

        .text-label {
            margin-top: .5rem;
            text-align: left;
        }
    }
}
