@import '../../assets/styles/sass_vars.scss';

/***
 * Component styles
 *
 */

.color-picket {
    clear:  both;
    height: 1.25rem;

    .actualColor {
        background: $green;
        border-radius: 50%;
        cursor: pointer;
        float:  right;
        height: 1rem;
        width:  1rem;
    }
}
