
/***
 * Component styles
 *
 */

.color-picket {
    clear:  both;
    height: 1.25rem;
    
    div {
        background: greenyellow;
        border-radius: 50%;
        float: right;
        height: 1rem;
        width: 1rem;
    }
}