@import '../../assets/styles/sass_vars.scss';

/***
 * Component styles
 *
 */

.color-picket {
    clear:  both;
    height: 3rem;

    .actualColor {
        background: $green;
        float:  right;
    }
    .color-circle {
        border-radius: 50%;
        cursor: pointer;
        height: 2rem;
        width:  2rem;
    }
}
