
/***
 * Component styles
 *
 */

.task-card {
    .card-body {
        clear         : both;
        margin-bottom : 1rem;

        .card-title {
            input {
                background: transparent;
                border: 0;
                height: inherit;
                margin:  0;
                padding: 0;
            }
        }
    }
}
