/**
 * Component styles
 *
 */

.image-btn {
    cursor: pointer;
    float : left;
    height: 2rem;
    width : 2rem;

    img {
        opacity: .3;
    }
    img:hover {
        opacity: .5;
    }
}
