/**
 * Component styles
 *
 */

button.image-btn {
    background: transparent;
    border    : none;
    float     : left;
    height    : 2rem;
    padding   : 0;
    width     : 2rem;

    img {
        opacity: .3;
    }
    img:hover {
        opacity: .5;
    }
}
