@import '../../../../assets/styles/vars.scss';

/***
 * Component styles
 *
 */


.App {
    .card {
        background    : #edf2f7;
        border-radius : 9px;
        border        : 1px solid gray;
        padding       : .3rem;
    }
    .card-selected {
        background  : $light-blue;
        border-color: $light-blue2;
        border-width: 2px;
    }
    .cards {
        margin-bottom : -0.5rem;
        margin-top    : 2rem;
        text-align    : left;
    }
}
