
/***
 * Component styles
 *
 */

.task-intro {

    input {
        display:       inline-block;
        margin-bottom: .5rem;
        text-align:    left;
        width:         100%;
    }

    .btn {
        height: 3rem;
        margin: .5rem
    }
}


@media (min-width:720px) {

    .task-intro {
        input {
            margin-right: .5em;
            width: 65%;
        }
    }
}
