
/***
 * Component styles
 *
 */

.task-intro {
    .config-actions {
        display         : flex;
        justify-content : space-between;
        margin-top      : -.5rem;
        padding-bottom  : .5rem;
    }
    .creation-form {
        input {
            display       : inline-block;
            margin-bottom : .5rem;
            text-align    : left;
            width         : 100%;
        }

        .btn {
            height: 3rem;
            margin: .5rem
        }
    }
}


@media (min-width:720px) {

    .task-intro {
        .creation-form {
            input {
                margin-right: .5em;
                width       : 65%;
            }
        }
    }
}
