@import './sass_vars.scss';

/***
 * Reset
 *
 */

* {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:     0;
    padding:    0;
    text-align: center;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
}

/***
 * App styles
 *
 */
button,
input {
    border-radius: 5px;
    font-size:     1em;
    height:        3rem;
    margin-bottom: .3rem;
    padding:       0 .5rem;
}
section {
    margin:  0 auto;
    padding: 1rem .2rem;
    width:   95%;
}

.App {
    display:    grid;
    grid-template-rows: 25vh 1fr 10vh;
    min-height: 100vh;
}

.App-logo {
  width: 5rem;
}

.App-header {
  align-items:      center;
  background-color: #282c34;
  color:            white;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  padding:          1rem 0 .3rem;
}

.bg-green {
    background: $green !important;
}
.bg-red {
    background: $red !important;
}
.bg-yellow {
    background: $yellow !important;
}
.btn {
    border:      1px solid grey;
    cursor:      pointer;
    font-size:   1rem;
    font-weight: bold;
    height:      inherit;
    padding:     1rem;
}
.btn-primary {
    background:   #3e9bf2;
    border-color: #0d365c;
    color:        white;
}
.btn-primary:active {
    background: #0c7ae0;
}
.content-box {
    background:  #edf2f7;
    border-radius: 9px;
    border:        1px solid gray;
    padding:       1rem;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.opacity50 {
    opacity: .5;
}
.strikethrough-text {
    text-decoration: line-through;
}
.task {
    max-width: 320px;
    vertical-align: top;
}

@media (min-width:860px) {
    section {
        width: 80%;
    }
}
