
/***
 * Reset
 *
 */

* {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:     0;
    padding:    0;
    text-align: center;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing:  antialiased;
}

/***
 * App styles
 *
 */
button,
input {
    border-radius: 5px;
    height:        3rem;
    margin-bottom: .5rem;
    padding:       0 .5rem;
}
section {
    margin:  0 auto;
    padding: 1rem;
    width:   80%;
}

.App-logo {
  width: 5rem;
}

.App-header {
  align-items:      center;
  background-color: #282c34;
  color:            white;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  padding:          2rem 0;
}

.btn {
    border:      1px solid grey;
    cursor:      pointer;
    font-size:   1rem;
    font-weight: bold;
    height:      inherit;
    padding:     1rem;
}
.btn-primary {
    background:   #3e9bf2;
    border-color: #0d365c;
    color:        white;
}
.btn-primary:active {
    background: #0c7ae0;
}
.content-box {
    background:  #edf2f7;
    border-radius: 9px;
    border:        1px solid gray;
    padding:       1rem;
}
