
/***
 * Component styles
 *
 */

.data-intro {
    form {
        align-items     : center;
        display         : flex;
        flex-direction  : column;
        justify-content : space-evenly;

        .button-group {
            display: flex;
            justify-content: space-between;

            .btn {
                height: 3rem;
                margin: .5rem .5rem 0;
            }
        }
    }
}


@media (min-width:420px)
{
    .data-intro {
        form {
            .button-group {
                justify-content : flex-end;
                width           : 100%;

                .btn:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width:640px)
{
    .content-box.data-intro {
        padding: 1rem 2rem;
    }
}
